/original_paper/arXiv-2409.04628v2/images/
/original_paper/arXiv-2409.04628v2/default.pygstyle
/original_paper/arXiv-2409.04628v2/halpha-abbrv.bst
/original_paper/arXiv-2409.04628v2/header.tex
/original_paper/arXiv-2409.04628v2/tesseract.aux
/original_paper/arXiv-2409.04628v2/tesseract.fdb_latexmk
/original_paper/arXiv-2409.04628v2/tesseract.fls
/original_paper/arXiv-2409.04628v2/tesseract.log
/.idea/
